@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #1a1a1a;
  color: #f2f2f2;
}

.mats-app {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  align-items: center;
}

.mats-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mats-text {
  margin-bottom: 32px;
  text-align: center;
}

.mats-searchbar {
  margin-bottom: 64px;
  width: 300px;
  height: 40px;
  border-radius: 12px;
  border: none;
  padding-left: 12px;

  background: linear-gradient(
    90deg,
    rgba(235, 27, 101, 1) 0%,
    rgba(97, 41, 107, 1) 100%
  );
}

.mats-searchbar::placeholder {
  color: #f2f2f2;
}

.mats-searchbar:focus {
  outline: none;
}
